<h1>Editing post</h1>

<% if @post.user == current_user %>
  <%= render "form", post: @post %>
<% else %>
  <p>You are not authorized to edit this post.</p>
<% end %>

<br>

<div>
  <%= link_to "Show this post", @post %>
  <%= link_to "Back to posts", posts_path %>
</div>
